<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Tables / General - NiceAdmin Bootstrap Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="../assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Thư viện Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Thư viện Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <!-- =======================================================
  * Template Name: NiceAdmin - v2.5.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="/assets/img/logo_icon.png" alt="">
                <span class="d-none d-lg-block">xuong</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->


                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">3</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kevin Anderson</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>Account Settings</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>Need Help?</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">


            <li class="nav-item">
                <a href="/cpanel/user" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-person-square"></i>
                    <span>User</span>
                </a>
            </li><!-- End Contact Page Nav -->
            <li class="nav-item">
                <a href="/cpanel/product" class="nav-link collapsed" href="pages-contact.html">
                    <i class="bi bi-book"></i>
                    <span>Reports</span>
                </a>
            </li><!-- End Contact Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/logout">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Logout</span>
                </a>
            </li><!-- End Login Page Nav -->


        </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
        <div class="row">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Danh sách Reports</h5>
                        <!-- Default Table -->

                        <div class="container">
                            <h3>Lọc theo nhóm</h3>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="groupDropdown"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Lọc theo nhóm
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="groupDropdown">
                                            <a class="dropdown-item" href="#" data-filter="1">Sự cố về CNTT</a>
                                            <a class="dropdown-item" href="#" data-filter="2">Sự cố về cơ sở vật</a>
                                            <a class="dropdown-item" href="#" data-filter="3">Sự cố về an ninh</a>
                                            <a class="dropdown-item" href="#" data-filter="4">Sự cố khác</a>
                                            <a class="dropdown-item" href="#" data-filter="5">Tất cả</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="container">
                            <h1>Lọc theo khoảng ngày</h1>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="fromDate">Từ ngày:</label>
                                        <input type="date" class="form-control" id="fromDate">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="toDate">Đến ngày:</label>
                                        <input type="date" class="form-control" id="toDate">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-primary" id="filterButtons">Lọc</button>
                                </div>
                            </div>
                        </div>

                        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                        <!-- Sử dụng Bootstrap JavaScript và jQuery -->
                        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
                        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
                        <script>
                            var allRows = document.querySelectorAll('tbody tr');

                            function resetTable() {
                                // Hiển thị tất cả các dòng
                                allRows.forEach(row => {
                                    row.style.display = 'table-row';
                                });
                            }

                            // Đoạn mã JavaScript để xử lý sự kiện khi nút "Lọc" được nhấn
                            document.getElementById('filterButtons').addEventListener('click', function () {
                                resetTable();
                                // Lấy giá trị ngày tháng từ trường "Từ ngày" và "Đến ngày"
                                var fromDate = document.getElementById('fromDate').value;
                                var toDate = document.getElementById('toDate').value;

                                function convertDateFormat(date) {
                                    // Phân tách ngày thành các thành phần riêng lẻ
                                    var dateParts = date.split("-");
                                    var year = dateParts[0];
                                    var month = dateParts[1];
                                    var day = dateParts[2];

                                    // Xây dựng lại ngày theo định dạng "dd/mm/yyyy"
                                    var newDate = day + "/" + month + "/" + year;

                                    return newDate;
                                }
                                var fromDateFormat = convertDateFormat(fromDate);
                                var toDateFormat = convertDateFormat(toDate);
                                console.log("can so sanh ", fromDateFormat, toDateFormat)

                                var rows = document.querySelectorAll('tbody tr');
                                rows.forEach(function (row) {
                                    var reportDateCell = row.querySelector('.dates');
                                    var reportDate = moment(reportDateCell.textContent, 'DD/MM/YYYY');
                                    var formattedDate = reportDate.format("DD/MM/YYYY");
                                    console.log("data ", formattedDate)
                                    // bat dau so sanh 
                                    var currentDateObj = new Date(formattedDate.split("/").reverse().join("-"));
                                    var fromDateObj = new Date(fromDate.split("/").reverse().join("-"));
                                    var toDateObj = new Date(toDate.split("/").reverse().join("-"));

                                    if (currentDateObj >= fromDateObj && currentDateObj <= toDateObj) {
                                        row.style.display = 'table-row';
                                    } else {
                                        row.style.display = 'none';
                                    }

                                });
                            });
                        </script>

                        <script>
                            var allRows = document.querySelectorAll('tbody tr');

                            function resetTable() {
                                // Hiển thị tất cả các dòng
                                allRows.forEach(row => {
                                    row.style.display = 'table-row';
                                });
                            }
                            // Lấy tất cả các mục trong dropdown
                            const dropdownItems = document.querySelectorAll('.dropdown-item');

                            // Hàm xử lý khi chọn mục trong dropdown
                            function handleDropdownItemClick(event) {
                                event.preventDefault();
                                const filterValue = event.target.getAttribute('data-filter');
                                if (filterValue == '1') {
                                    // Gọi hàm khi chọn "Sự cố về CNTT"
                                    cnttFunction();
                                } else if (filterValue == '2') {
                                    csvcFunction();
                                }
                                else if (filterValue == '3') {
                                    anFunction();
                                }
                                else if (filterValue == '4') {
                                    kFunction();
                                }
                                else if (filterValue == '5') {
                                    allFunction();
                                }
                                // Thêm logic cho các mục khác ở đây
                            }

                            // Đặt sự kiện click cho từng mục trong dropdown
                            dropdownItems.forEach(item => {
                                item.addEventListener('click', handleDropdownItemClick);
                            });

                            // Hàm xử lý khi chọn "Sự cố về CNTT"
                            function cnttFunction() {
                                resetTable();
                                // Lấy tất cả các dòng trong bảng
                                const rows = document.querySelectorAll('tbody tr');
                                alert('Lọc thành công')

                                // Lặp qua từng dòng và kiểm tra giá trị của "type"
                                rows.forEach(row => {
                                    const typeCell = row.querySelector('.types');
                                    if (typeCell && typeCell.textContent.trim() == 'Sự cố về CNTT') {
                                        // Hiển thị dòng có type bằng 1
                                        row.style.display = 'table-row';
                                    } else {
                                        // Ẩn các dòng khác
                                        row.style.display = 'none';
                                    }
                                });
                            }
                            function csvcFunction() {
                                resetTable();
                                // Lấy tất cả các dòng trong bảng
                                const rows = document.querySelectorAll('tbody tr');
                                alert('Lọc thành công')

                                // Lặp qua từng dòng và kiểm tra giá trị của "type"
                                rows.forEach(row => {
                                    const typeCell = row.querySelector('.types');
                                    if (typeCell && typeCell.textContent.trim() == 'Sự cố về cơ sở vật chất') {
                                        // Hiển thị dòng có type bằng 1
                                        row.style.display = 'table-row';
                                    } else {
                                        // Ẩn các dòng khác
                                        row.style.display = 'none';
                                    }
                                });
                            }
                            function anFunction() {
                                resetTable();
                                // Lấy tất cả các dòng trong bảng
                                const rows = document.querySelectorAll('tbody tr');
                                alert('Lọc thành công')

                                // Lặp qua từng dòng và kiểm tra giá trị của "type"
                                rows.forEach(row => {
                                    const typeCell = row.querySelector('.types');
                                    if (typeCell && typeCell.textContent.trim() == 'Sự cố về an ninh') {
                                        // Hiển thị dòng có type bằng 1
                                        row.style.display = 'table-row';
                                    } else {
                                        // Ẩn các dòng khác
                                        row.style.display = 'none';
                                    }
                                });
                            }
                            function allFunction() {
                                resetTable();
                                // Lấy tất cả các dòng trong bảng
                                const rows = document.querySelectorAll('tbody tr');
                                alert('Lọc thành công')

                                // Lặp qua từng dòng và kiểm tra giá trị của "type"
                                rows.forEach(row => {
                                    const typeCell = row.querySelector('.types');
                                    row.style.display = 'table-row';

                                });

                            }
                            function kFunction() {
                                resetTable();
                                // Lấy tất cả các dòng trong bảng
                                const rows = document.querySelectorAll('tbody tr');
                                alert('Lọc thành công')

                                // Lặp qua từng dòng và kiểm tra giá trị của "type"
                                rows.forEach(row => {
                                    const typeCell = row.querySelector('.types');
                                    if (typeCell && typeCell.textContent.trim() == 'Khác') {
                                        // Hiển thị dòng có type bằng 1
                                        row.style.display = 'table-row';
                                    } else {
                                        // Ẩn các dòng khác
                                        row.style.display = 'none';
                                    }
                                });
                            }
                        </script>


                        <table class="table">
                            <style>
                                .limited-lines {
                                    max-width: 400px;
                                    width: 400px;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    white-space: normal;
                                    max-height: 7em;
                                }

                                table {
                                    border-collapse: collapse;
                                    width: 100%;
                                    height: 100%;
                                }

                                th,
                                td {
                                    border: 1px solid black;
                                    padding: 8px;
                                    text-align: left;
                                }

                                tbody {
                                    height: 300px;
                                    max-height: 350px;
                                }
                            </style>
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Room</th>
                                    <th scope="col">Report Date</th>
                                    <th scope="col">User</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Admin</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Trạng thái</th>
                                </tr>
                            </thead>
                            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                            {{!-- xem nhieu hinh anh --}}
                            <script>

                                function onClickImg(index) {
                                    const imageContainer = document.getElementById('imagesNe');
                                    if (!imageContainer.contains(event.target)) {
                                        imageContainer.style.display = 'flex';
                                    }

                                    console.log('Vị trí của mục được nhấn: ' + index);

                                    const apiUrl = 'http://localhost:3000/api/report';

                                    axios.get(apiUrl)
                                        .then(response => {
                                            const reports = response.data.report;
                                            if (index >= 0 && index < reports.length) {
                                                const selectedItem = reports[index];
                                                const images = selectedItem.image;

                                                // Truy cập phần tử div trong trang HTML bằng ID
                                                const imageContainer = document.getElementById('imageContainer');

                                                // Xóa bất kỳ hình ảnh trước đó nếu có
                                                imageContainer.innerHTML = '';

                                                // Duyệt qua mảng ảnh và hiển thị chúng
                                                images.forEach((imageUrl, i) => {
                                                    const imgElement = document.createElement('img');
                                                    imgElement.src = imageUrl;
                                                    imgElement.style.width = '250px';
                                                    imgElement.style.height = '280px';
                                                    imageContainer.appendChild(imgElement);
                                                });
                                            } else {
                                                console.log('Chỉ số không hợp lệ hoặc mục không tồn tại.');
                                            }
                                        })
                                        .catch(error => {
                                            console.error('Lỗi khi gọi API:', error);
                                        });
                                }
                                function esc() {
                                    const imageContainer = document.getElementById('imagesNe');
                                    imageContainer.style.display = 'none';
                                }
                            </script>
                            <tbody>
                                {{#each reports}}
                                <tr>
                                    <td>
                                        <button onclick="onClickImg({{ @index }})"><img
                                                style="width:150px; height: 180px;" src="{{this.image}}"
                                                class="images"></button>
                                    </td>
                                    <td>{{this.room}}</td>
                                    <td class="dates">{{this.report_date}}</td>
                                    <td>{{this.userId.full_name}}</td>
                                    <td class="types">{{this.type}}</td>
                                    <td class="admins">
                                        {{this.admin}}
                                    </td>

                                    <td class="limited-lines">{{this.description}}</td>
                                    <td class="status">{{this.status}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <div id="imagesNe">
                                <p class="textNe">Chi tiết ảnh</p>
                                <button class="btnEsc" onclick="esc()">x</button>
                                <div id="imageContainer"></div>
                            </div>
                            <script>
                                const typeCellAdmin = document.querySelectorAll('.admins');
                                typeCellAdmin.forEach((cell) => {

                                    const typeValues = cell.textContent.trim(); // Lấy giá trị của "this.type" và loại bỏ khoảng trắng
                                    console.log(typeValues)

                                    if (typeValues == "") {
                                        cell.textContent = 'Chưa có ai tiếp nhận';
                                    }
                                    const apiUrls = 'http://localhost:3000/api/report/user/' + typeValues;

                                    axios.get(apiUrls)
                                        .then(response => {
                                            const admin = response.data.user.full_name;
                                            cell.textContent = response.data.user.full_name;
                                            console.log(response.data.user.full_name)
                                        })
                                        .catch(error => {
                                            console.error('Lỗi khi gọi API:', error);
                                        });
                                });

                                const typeCells = document.querySelectorAll('.types');
                                typeCells.forEach((cell) => {

                                    const typeValue = cell.textContent.trim(); // Lấy giá trị của "this.type" và loại bỏ khoảng trắng
                                    if (typeValue === '1') {
                                        cell.textContent = 'Sự cố về CNTT';
                                    } else if (typeValue === '2') {
                                        cell.textContent = 'Sự cố về cơ sở vật chất';
                                    }
                                    else if (typeValue === '3') {
                                        cell.textContent = 'Sự cố về an ninh';
                                    }
                                    else if (typeValue === '4') {
                                        cell.textContent = 'Khác';
                                    }
                                });


                                const typeCells2 = document.querySelectorAll('.status');
                                typeCells2.forEach((cell) => {
                                    const typeValue2 = cell.textContent.trim(); // Lấy giá trị của "this.type" và loại bỏ khoảng trắng

                                    if (typeValue2 == 0 || typeValue2 == '0') {
                                        cell.textContent = 'Gửi yêu cầu';
                                    }
                                    else if (typeValue2 == 1 || typeValue2 == '1') {
                                        cell.textContent = 'Đã tiếp nhận';
                                    } else if (typeValue2 == 2 || typeValue2 == '2') {
                                        cell.textContent = 'Đã hoàn thành';
                                    } else {
                                        cell.textContent = typeValue2;
                                    }
                                });
                            </script>
                            <style>
                                .textNe {
                                    position: absolute;
                                    width: 200px;
                                    height: 50px;
                                    color: black;
                                    size: 18px;
                                    top: 10px;
                                    left: 30px;
                                    background-color: white;
                                }

                                .btnEsc {
                                    position: absolute;
                                    top: 10px;
                                    left: 0;
                                }

                                #imageContainer {
                                    position: absolute;
                                    top: 40px;
                                    left: 0;
                                }

                                #imagesNe {
                                    width: 600px;
                                    display: none;
                                    height: 600px;
                                    top: 20%;
                                    padding: 10px;
                                    left: 40%;
                                    position: fixed;
                                }
                            </style>
                            <!-- End Default Table Example -->
                        </table>
                    </div>

                </div>

            </div>
            <div class="col-lg-2"></div>
        </div>

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../assets/vendor/echarts/echarts.min.js"></script>
    <script src="../assets/vendor/quill/quill.min.js"></script>
    <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>
    <!-- KiVu  JS Files  ahsdkjhakjdahs-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="../javascripts/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
    <script src="../../public/javascripts/"></script>
    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
    <!-- Sweet Alert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
<script>
    const fetchAPI = async (url, option) => {
        const res = await fetch(url, option);
        return res.json();
    }
    const deleteProduct = async (id) => {
        const url = `/cpanel/product/${id}/delete`;
        const option = {
            method: 'get',
            headers: { 'Content-Type': 'application/json' }
        }
        try {
            const result = await fetchAPI(url, option);
            console.log('Delete result: ', result);
            if (result.status) {
                window.location.reload();
            }
            else {

            }
        }
        catch (error) {
            console.log("delete error: " + error);
        }
    }
    const confirmDelete = (id) => {
        swal({
            title: "Em có chắc không?",
            text: "Xóa sẽ không phục hồi được đâu ông già, Xác nhận xóa?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    deleteProduct(id);
                    swal("Xóa thành công", {
                        icon: "success",
                    });
                } else {
                    swal("Your imaginary file is safe!");
                }
            });
    }

</script>

</html>